// Varables
$ease: .3s ease-in-out;
$blue: #2791d4;

h1, h2, h3, h4, h5, ul, li {
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
  font-size: 1vw;
}

h1 {
  font-size: 4rem;
  line-height: 4rem;
}

h2 {
  font-size: 2.25rem;
}

h3 {
  font-size: 2rem;
}

h4 {
  font-size: 1.75rem;
}

h5 {
  font-size: 1.25rem;
}

p {
  font-size: 1.25rem;
}

li {
  text-decoration: none;
  font-size: 1.5rem;
  color: #000;
  transition: $ease;
  cursor: pointer;
}

ul {
  list-style: none;
}

a {
  color: #000;
  transition: $ease;
  text-decoration: none;
  font-size: 1.5rem;

  &:hover {
    color: $blue;
  }
}

hr {
  opacity: .5;
  width: 70%;
}

// Global
.border {
  border: .5rem solid #000;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.border {
  border: .5rem solid #000;
}

.center-text {
  text-align: center;
}

.btn {
  padding: .5rem 1.5rem;
  border: 1px solid #000;
  transition: $ease;

  &:hover {
    border-color: $blue;
  }
}

.cover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.section-padding {
  padding: 2rem 4rem;
  margin: 4rem 0;
}

.margin-top {
  display: inline-block;
  margin-top: 1rem;
}

.flex-row {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
}

.hide-desktop {
  display: none;
}

.product-list {
  margin: 2rem 4rem;
}

.product {
  margin: 1rem 0;
  padding-bottom: 1rem;
  position: relative;
  transition: $ease;

  .image-container {
    position: relative;
    width: 32rem;
    height: 20rem;
    overflow: hidden;
    margin-bottom: .5rem
  }

  img {
    max-width: 100%;
    transition: $ease;
  }

  &:hover {
    border-radius: 5px;

    img {
      transform: scale(1.05);
    }
  }

  &.small {
    .image-container {
      width: 20rem;
      height: 12rem;
    }
  }
}

.product-round {
  width: 14rem;
  height: 14rem;
  margin: 2rem 0;
  border: .5rem solid #000;
  border-radius: 50%;
  position: relative;
  transition: $ease;

  &:hover {
    color: $blue;
    border-color: $blue;
  }
}


// Nav
#landing-navigation {
  width: 14%;
  position: fixed;
  display: flex;
  flex-direction: column;
  top: 0;
  left: 0;
  bottom: 0;
  padding: 4rem 2rem 1rem;
  border-right: 1px solid rgba(0,0,0,.05);
  z-index: 1001;

  .border {
    padding-left: 1rem;
  }

  .logo {
    &:hover {
      cursor: pointer;
    }
  }

  ul {
    margin-top: 3rem;
  }

  .selected {
    border-left: .25rem solid #000;
    padding-left: 1rem;
  }

  .bottom-area {
    margin-top: auto;
    position: relative;

    .fa {
      position: absolute;
      font-size: 2rem;
      right: 0;
      bottom: 0;
    }
  }

  li {
    margin-bottom: .75rem;

    &:hover {
      border-left: .25rem solid #000;
      padding-left: 1rem;
    }
  }
}

// Sections
#container,
#footer {
  position: relative;
  left: 18%;
  width: 82%;
  z-index: 1000;
}

#landing-banner {
  background: url('./img/plant-2577864_1280.jpg') no-repeat left center / cover;
  height: 100vh;
  text-align: center;
  position: relative;
}

#about {
  p {
    padding: 1rem 6rem;
  }
}

#photo {
  h3 {
    margin-bottom: 1rem;
  }
}

#footer {
  height: 24rem;
  padding-top: 6rem;

  .legal-nonsense {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    border-top: 1px solid rgba(0,0,0,.1);
    padding: 1rem 4rem;
    text-align: right;
  }

  label {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    display: inline-block;
  }

  input {
    width: 36rem;
    font-size: 1.5rem;
    padding: .5rem 1rem;
    height: 3rem;
    vertical-align: top;
  }

  button {
    border: 1px solid rgba(0,0,0,.2);
    background: #fff;
    height: 3rem;
    margin: 0;
    vertical-align: top;
  }
}

// Internal Pages
#internal-banner {
  background: url('./img/plant-2577864_1280.jpg') no-repeat left 75% / cover;
  height: 40vh;
  position: relative;
}

.internal-container {
  width: 85%;
  margin: 0 auto;
}

.internal ~ #footer {
  width: 100%;
  left: 0;
}

// Media
@media (max-width: 1000px) {
  html { font-size: 1.25vw; }

  .hamburger {
    position: fixed;
    right: 2rem;
    top: 1rem;
    z-index: 1001;
    background: #fff;
    height: 2rem;
    width: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    i {
      font-size: 1.5rem;
    }
  }

  .logo {
    text-align: center;
  }

  #landing-navigation {
    width: 50vw;
    left: -60vw;
    z-index: 1001;
    background: #fff;
    transition: $ease;

    &.show-nav {
      left: 0;
    }
  }

  #container,
  #footer,
  .tooltip {
    left: 0;
    width: 100%;
  }

  .product-list {
    margin: 2rem 3rem;
  }
}

@media (max-width: 600px) {
  html { font-size: 3vw; }

  .section-padding {
    padding: 2rem;
  }

  .product-list {
    margin: 2rem 0;
    text-align: center;

    .image-container {
      width: 100%;
      height: 20rem;
    }
  }

  #banner {
    color: #fff;
  }

  #side-nav {
    width: 75vw;
    left: -75vw;
  }

  #about {
    p {
      padding: 1rem;
    }
  }

  #footer {
    input {
      width: 24rem;
    }
  }
}
